# Django Settings Variables
# Create the example .env file, copy this file named as ".env"


DJANGO_SECRET_KEY=Django-secret-key-here
DJANGO_JWT_SIGNING_KEY=JWT-signing-key-for-authentication

#Debug mode - Set False on production environment
DJANGO_DEBUG=true

# List of allowed hosts separated with comma
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,172.17.0.1

DJANGO_DEVELOPING_CORS_ALLOWED=127.0.0.1,localhost,172.17.0.1
DJANGO_PRODUCTION_CORS_ALLOWED=127.0.0.1,localhost,172.17.0.1

DJANGO_ACTIVE_CACHE=true


# Gunicorn Configuration
# the IP that gunicorn will listen to
GUNICORN_BIND=0.0.0.0:8000
# resources to gunicorn
GUNICORN_WORKERS=4
GUNICORN_THREADS=2
# Logs directories
GUNICORN_ACCESS_LOGS=logs/gunicorn.access.log
GUNICORN_ERROR_LOGS=logs/gunicorn.error.log

# Database engine, if different of sqlite, then provide credentials
# Options = postgresql, mysql, sqlite
DB_ENGINE=sqlite

# Database credentials (only if is not SQLite)

DBNAME=authentication
DBUSER=admin
DBPASSWORD=admin
DBHOST=localhost
DBPORT=5432

# Email Config

EMAIL_SERVER=localhost
EMAIL_PORT=25
EMAIL_ADDRESS=auth_service@example.com

# Message Brokers
REDIS_HOST=redis://localhost:6379/0

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_PASSWORD=password_example
RABBITMQ_USER=developer